<h1 class="{{styles['title']}}">TODO</h1>
<div class="weui-cells__title">
    <p>你想干嘛</p>
</div>
<div class="weui-cells weui-cells_form weui-cells__access" id="todos">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" id="todo" type="text" placeholder="What needs to be done ?">
        </div>
    </div>
    {{each todos as todo i}}
    <a href="#/detail/{{todo.id}}" class="weui-cell weui-cells_checkbox {{styles['item']}} {{if todo.status == 1}}{{styles['completed']}}{{/if}}">
        <label class="weui-cell__hd" for="{{todo.id}}">
            <input type="checkbox" class="weui-check" name="checkbox1" data-id="{{todo.id}}" id="{{todo.id}}" {{if todo.status == 1}}checked{{/if}}>
            <i class="weui-icon-checked"></i>
        </label>
        <div class="weui-cell__bd">
            {{if todo.status == 1}}
            <p><s>{{todo.title}}</s></p>
            {{else}}
            <p>{{todo.title}}</p>
            {{/if}}
        </div>
        <div class="weui-cell__ft {{styles['remark']}}">
            {{todo.remark.substring(0, 10)}}
        </div>
    </a>
    {{/each}}
</div>
{{if DEBUG}}
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_warn" href="javascript:" id="deleteAll">清空</a>
</div>
{{/if}}
