doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/lib/es5-shim.js')
    script(src='/js/lib/jquery-1.12.4.min.js')
    script(src='/js/lib/lodash.min.js')
    script(src='/js/pine.js')
    block scripts
  body
    block content
